@dark-orange: #bf5700;
@pink: #ff0055;
@text_blue: #666;
@light-text: #ccc;
@light-blue: #6f767a;
@footer-background: #111111;
@white: #ffffff;
@subtle-blue: #eff7fb;
@gray-dark:              lighten(@gray-base, 20%);
@gray-base:              #000;


.navbar{
  min-height: 65px;
  box-shadow: 1px 1px 3px -1px black;
}

.social-media{
  padding: 20px 0;
  ul{
    list-style-type: none;
    li{
      display: inline-block;
    }
  }
}
nav{
  #logo{
    max-height: 65px;
    margin-top: -25px;
  }
}

.body-wrapper {
  margin-top: 65px;
}
.promo{
  text-align: center;
  padding: 50px;
  background: url("../images/backgrounds/event_background.png") no-repeat;
  background-size: cover;

  .jumbotron{
    h1{
      text-transform: capitalize;
    }
    border-radius: 20px;
    padding: 50px;
    background-color: rgba(255,255,255,0.75);
    max-width: 900px;
    min-height: 335px;
    margin: 0 auto;
    @media(max-width: 991px) {
      padding: 20px;
    }

  }

}

.intro-wrapper{
  background-color: #eee;
  .intro{
    padding: 50px 0;
    text-align: center;

    h1{
      margin-bottom: 30px;
      padding: 40px 0 30px;
      text-transform: capitalize;
    }

    p{
      font-size: 20px;
      max-width: 900px;
      margin: 0 auto;
    }
  }
}


.summary{
  padding: 50px 0 50px;
  text-align: center;

  h1{
    margin-bottom: 30px;
    padding: 50px 0 30px;
    text-transform: capitalize;
  }

  p{
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.services-wrapper{
  background-color: #eff7fb;
  #our-services{
    text-align: center;
    padding-bottom: 70px;

    h1{
      text-transform: capitalize;
    }

    h2{
      font-weight: normal;
      margin-top: 13px;
      margin-bottom: 20px;
      font-size: 24px;
      text-transform: capitalize;
    }
    .item{
      padding-top: 36px;

      h2{
        color: @footer-background;
      }

      img{
        width: 219px;
        height: 118px;
      }

      i{
        font-size: 40px;
        color: @pink;
      }
      p{
        color: @light-blue;
        padding-top: 10px;
      }
    }
  }
}

.footer-top{
  padding: 50px;

  .footer-item{
    max-height: 191px;
    text-align: center;
    

   .sub{
     line-height: 12px;
   }
    
  }
   .contact-us{
     p{
       line-height: 12px;
     }
   }
}

.footer-bottom-wrapper {
  color: @white;
  background-color: @dark-orange;
  padding: 30px 0 20px 0;
  .footer-bottom{
    text-align: center;

  }
  .copyright{
    padding-bottom: 10px;
  }
  p{
    margin: 0;
    font-size: 12px;
    //line-height: 5px;
  }
}


/**
EVENT PAGE
**/

.event-listing{

  .listing{
    padding-top: 59px;
  }
  h2{
    text-transform: capitalize;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: @gray-dark;
    padding: 10px 0px;
    text-align: center;
    border: 1px dotted @dark-orange;
    font-weight: normal;
    border-left-style: solid;
    border-left-width: 10px;
    //border-right-style: solid;
    //border-right-width: 10px;
  }
}

.gallery {
  text-align: center;
  padding-bottom: 50px;
  .item{
    padding: 10px 5px;
  }
  h2{
    text-align: center;
    font-weight: normal;
    color: @gray-dark;
  }
  .item-wrapper{
    a{
      img{
        width: 219px;
        height: 129px;
      }
    }
  }
}








