.navbar {
  min-height: 65px;
  box-shadow: 1px 1px 3px -1px black;
}
nav #logo {
  max-height: 65px;
  margin-top: -25px;
}
.navbar-nav {
  margin: 10px 10px 10px 10px;
}
.navbar-nav li a {
  border-radius: 5px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-right: 10px;
}
.body-wrapper {
  margin-top: 65px;
}
.promo {
  text-align: center;
  padding: 50px;
  background: url("../images/backgrounds/event_background.png") no-repeat;
  background-size: cover;
}
.promo .jumbotron {
  border-radius: 20px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 900px;
  min-height: 335px;
  margin: 0 auto;
}
.promo .jumbotron h1 {
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .promo .jumbotron {
    padding: 20px;
  }
}
.intro-wrapper {
  background-color: #eee;
}
.intro-wrapper .intro {
  padding: 50px 0;
  text-align: center;
}
.intro-wrapper .intro h1 {
  margin-bottom: 30px;
  padding: 40px 0 30px;
  text-transform: capitalize;
}
.intro-wrapper .intro p {
  font-size: 20px;
  max-width: 900px;
  margin: 0 auto;
}
.summary {
  padding: 50px 0 50px;
  text-align: center;
}
.summary h1 {
  margin-bottom: 30px;
  padding: 50px 0 20px;
  text-transform: capitalize;
}
.summary p {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.services-wrapper {
  background-color: #eff7fb;
}
.services-wrapper #our-services {
  text-align: center;
  padding-bottom: 70px;
}
.services-wrapper #our-services h1 {
  text-transform: capitalize;
}
.services-wrapper #our-services h2 {
  font-weight: normal;
  margin-top: 13px;
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: capitalize;
}
.services-wrapper #our-services .item {
  padding-top: 36px;
}
.services-wrapper #our-services .item h2 {
  color: #111111;
}
.services-wrapper #our-services .item img {
  width: 219px;
  height: 118px;
}
.services-wrapper #our-services .item i {
  font-size: 40px;
  color: #ff0055;
}
.services-wrapper #our-services .item p {
  color: #301934;
  padding-top: 10px;
}
.footer-top {
  padding-top: 50px;
  padding-bottom: 100px;
}
.footer-top .subscribe form button {
  margin-top: 27px;
}
.footer-top .footer-item {
  max-height: 191px;
  text-align: center;
}
.footer-top .footer-item .sub {
  line-height: 12px;
}
.footer-top .contact-us p {
  line-height: 12px;
}
.footer-top .contact-us h5 {
  margin-bottom: 5px;
}
.footer-top .contact-us .social-media ul {
  padding-top: 5px;
  margin-left: -38px;
  list-style-type: none;
}
.footer-top .contact-us .social-media ul li {
  display: inline-block;
  margin-right: 5px;
}
.footer-top .contact-us .social-media ul li a {
  color: #bf5700;
}
.footer-top .contact-us .social-media ul li a:hover {
  color: #8c4000;
}
.footer-top .contact-us .social-media ul li a i {
  font-size: 2.2em;
}
.footer-bottom-wrapper {
  color: #ffffff;
  background-color: #bf5700;
  padding: 30px 0 20px 0;
}
.footer-bottom-wrapper .footer-bottom {
  text-align: center;
}
.footer-bottom-wrapper .copyright {
  padding-bottom: 10px;
}
.footer-bottom-wrapper p {
  margin: 0;
  font-size: 12px;
}
/**
EVENT PAGE
**/
.event-listing .listing {
  padding-top: 59px;
}
.event-listing h2 {
  text-transform: capitalize;
  font-size: 18px;
  color: #333333;
  padding: 10px 0px;
  text-align: center;
  border: 1px dotted #bf5700;
  font-weight: normal;
  border-left-style: solid;
  border-left-width: 10px;
}
.gallery {
  text-align: center;
  padding-bottom: 50px;
}
.gallery .item {
  padding: 10px 5px;
}
.gallery h2 {
  text-align: center;
  font-weight: normal;
  color: #333333;
}
.gallery .item-wrapper a img {
  width: 219px;
  height: 129px;
}
/**
INVENTORY PAGE
**/
.list-intro {
  padding: 50px 0;
}
.inventory-gallery {
  padding-bottom: 50px;
}
.inventory-gallery .item-wrapper {
  padding: 10px 5px;
}
.inventory-gallery .item-wrapper h3 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333333;
  text-align: center;
}
/**
CONTACT PAGE
**/
.contact {
  padding: 50px 0;
}
.contact .contact-us {
  padding-bottom: 30px;
}
/**
CALENDAR PAGE
**/
.calendar-top {
  padding: 50px 0;
  text-align: center;
}
.calendar-top .rounded {
  text-align: center;
  background-color: #f4f4f4;
  width: 90px;
  height: 90px;
  border-radius: 500px;
  border: 1px solid #e2e2e2;
  transition: all 0.2s ease-in-out;
}
.calendar-top .rounded i {
  padding-top: 17px;
  color: #bf5700;
}
.calendar-listing {
  padding-bottom: 50px;
}
.calendar-listing h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #333333;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.calendar-listing .date {
  color: #bf5700;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
